# IntelliJ IDEA (настройки среды)
.idea/
*.iml
*.iws
*.ipr

# Maven (папка сборки)
target/
dependency-reduced-pom.xml

# Logs and temp files
*.log
*.tmp

# OS junk (системный мусор)
.DS_Store
Thumbs.db

# Если не хочешь хранить сами exe/jar в корне (на всякий случай)
*.jar
*.exe